
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
#users-wrap {
     display: flex;
     flex-wrap: wrap;
    gap: 15px;
    width: 1440px;
    margin: 20px auto;
 }
body{
    font-family: "SUSE", sans-serif;
}
 .user {
     width: 49%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 15px;
     border: 2px solid cadetblue;
     border-radius: 20px;
     padding: 10px 0;

     background: #d4dfe1;
 }
 .btn-user-info {
     background: rgb(135, 221, 209);
     border: 1px solid rgb(6, 78, 74);
     border-radius: 12px;
     font-size: 16px;
     padding: 15px 30px;
 }
 h2 {
     font-size: 2em;
 }